<h2 class="title">Problems Table</h2>
<div class="container">
  <table mat-table
    [dataSource]="DataSource"
    class="table mat-elevation-z8"
    matSort>
    <ng-container matColumnDef="Problem Id">
      <th mat-header-cell
        class="table-dark"
        *matHeaderCellDef>#</th>
      <td mat-cell
        *matCellDef="let element;let i =index;"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="Problem Name">
      <th mat-header-cell
        class="table-dark"
        mat-sort-header
        *matHeaderCellDef>Problem Name</th>
      <td mat-cell
        *matCellDef="let element;let i =index;"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="Problem Description">
      <th mat-header-cell
        class="table-dark"
        mat-sort-header
        *matHeaderCellDef>Problem Description</th>
      <td mat-cell
        *matCellDef="let element;let i =index;"> {{ element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="Problem roomName">
      <th mat-header-cell
        class="table-dark"
        *matHeaderCellDef>Problem Room Number</th>
      <td mat-cell
        *matCellDef="let element;let i =index;"> {{element.roomName}} </td>
    </ng-container>
    <ng-container matColumnDef="Problem reportedByname">
      <th mat-header-cell
        class="table-dark"
        *matHeaderCellDef>Problem reported By</th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <span class="badge badge-primary">{{element.reportedByname ? element.reportedByname.name : 'Unknown'}}</span>
        </td>
        
    </ng-container>
    <ng-container matColumnDef="Images">
      <th mat-header-cell
        class="table-dark"
        *matHeaderCellDef>Images</th>
      <td mat-cell
        *matCellDef="let element;let i =index;">
        <button mat-icon-button
          color="primary"
          (click)="showImages(element)">
          <mat-icon> images </mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Situation">
      <th mat-header-cell
        class="table-dark"
        *matHeaderCellDef>Situation</th>
      <td mat-cell
        *matCellDef="let element;let i =index;"> <select [(ngModel)]="selectedOption[element.id]"
          (change)="onStateChange(element.id)">
          <option *ngFor="let option of options"
            [value]="option">{{ option }}</option>
        </select> </td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[1,2,3,5,10]"
    aria-label="Select page"
    showFirstLastButtons></mat-paginator>
</div>