<div class="container profile-container" *ngIf="currentUser; else loggedOut">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div class="profile-img-wrapper">
      <img id="profile-img" [src]="retrievedImage || '//ssl.gstatic.com/accounts/ui/avatar_2x.png'" alt="">
      <div class="overlay">
        <button class="btn btn-primary" (click)="showEditForm()">Edit Profile Picture</button>
      </div>
    </div>
  </div>
  <div class="col-md-8" *ngIf="showForm">
    <form>
      <div class="form-group">
        <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="profileImage" name="profileImage" />
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary edit-button">Submit</button>
    </form>
  </div>
</div>

<ng-template #loggedOut>
  <div class="logged-out">
    Please login.
  </div>
</ng-template>
