<div  class="container p-5"  *ngIf="currentUser" >
  <div  class="card p-2">
    <div class=" row">
      <div class=" col-6">

        <form  #problemForm="ngForm" (ngSubmit)="addProblem(problemForm)"  enctype="multipart/form-data" >

          <mat-form-field appearance="outline">
            <mat-label>Problem Name</mat-label>
            <input matInput
                   placeholder="Problem Name"
                   [(ngModel)]="problem.name"
                   name ="problemName">
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Problem Description</mat-label>
            <textarea matInput  placeholder="Problem Description"
                      [(ngModel)]="problem.description"
                      name ="problemDescription"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Problem Room</mat-label>
            <input matInput placeholder="Problem Room"
                   placeholder="Problem Room"
                   [(ngModel)]="problem.roomName"
                   name ="problemRoom">
          </mat-form-field>

          <strong>{{ currentUser.email}}</strong>

          <div align="end">
            <button type="submit" mat-stroked-button color="primary" style ="margin-right: 5px ;" >  Add Problem</button>
            <button   mat-stroked-button color="primary" >  Clear</button>

          </div>
        </form>
      </div>


      <div class=" col-6">
        <div>
          <div class="dropzone">

            <div class="text-wrapper">
              <div class="centered">

                <a  (click)="selectFile.click()" class="browse-button">browse  </a>
                a file
              </div>

            </div>
          </div>
          <input type="file"  style="display:  none;" multiple value="select" #selectFile
                 (change)="onFileSelected($event)">
        </div>
        <div class="mt-5">
          <div class="row">
            <mat-grid-list cols="4" rowHeight="1:1">
              <mat-grid-tile *ngFor="let file of problem.images; let i = index" >
                <div style="position : relative">
                  <span class ="btn-remove-image" (click)="removeImages(i)"> x </span>
                  <img [src]="file.url"  width="100px" height="100px">

                </div>

              </mat-grid-tile>


            </mat-grid-list>



          </div>


        </div>
      </div>

    </div>



  </div>

</div>
