<div id="app">
  <nav class="navbar navbar-expand-lg" style="background-color: blanchedalmond;">
    <img src="../assets/images/logo.png" href="#" class="navbar-brand icon" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="isStudent">
          <a href="/addNewProblem" class="nav-link" routerLink="addNewProblem">Add problem</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a href="/showProblemDetails" class="nav-link" routerLink="showProblemDetails">Problem Details</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a href class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a href="/profile" class="dropdown-item" routerLink="profile">My Profile</a>
            <div class="dropdown-divider"></div>
            <a href class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4" style="height:79vh">
    <router-outlet></router-outlet>
  </div>
<footer class="footer text-light" style="margin-top:15rem;background-color: blanchedalmond;">
  <div class="container" style="color:black">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 Projet JEE.</p>
      </div>
      <div class="col-md-3">
        <a href="https://github.com/TheSkyAboveTheSky/Projet-JEE" style="text-decoration: none;color:black;">Source Code</a>
      </div>
      <div class="col-md-3">
        <p>Founders: <br>
          Said MOUNJI, <br>
          Faimazahraa Ouahmane, <br>
          Mouad Toubil, <br>
          Oussama Rouch
        </p>
      </div>
    </div>
  </div>
</footer>


</div>
