 <div class="profile-card">
    <div class="profile-header">
      <div class="profile-photo">
        <div class="profile-img-wrapper">
          <img id="profile-img" [src]="retrievedImage || '//ssl.gstatic.com/accounts/ui/avatar_2x.png'" alt="">
          <a href="/edit_image">Edit Profile</a>

      </div>

      <div class="container" *ngIf="currentUser; else loggedOut">
        <header class="jumbotron">
          <h3><strong>{{ currentUser.username }}</strong> Profile</h3>
        </header>
        <div class="profile-details">
          <p>
            <strong>Email:</strong> {{ currentUser.email }}
          </p>
          <p>
            <strong>Name:</strong> {{ currentUser.name }}
          </p>
          <p>
            <strong>Poste:</strong> {{ currentUser.poste }}
          </p>
          <p>
            <strong>Date de naissance:</strong> {{ currentUser.date }}
          </p>
          <a href="/edit_profil">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>

<ng-template #loggedOut>
  Please login.
</ng-template>
