<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <img
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    alt=""
  />
  <form action="javascript:void(0)" (submit)="onSubmit()" method="post">
    <p>
      <strong>Email:</strong>
      <input type="text" name="email" value="{{ currentUser.email }}" />
    </p>
    <p>
      <strong>Name:</strong>
      <input type="text" name="name" value="{{ currentUser.name }}" />
    </p>
    <p>
      <strong>Poste:</strong>
      <select name="poste" [(ngModel)]="currentUser.poste">
        <option value="technicien">technicien</option>
        <option value="manager">manager</option>
      </select>
    </p>
    <p>
      <strong>Date de naissance:</strong>
      <input type="date" name="date" [(ngModel)]="currentUser.date" />
    </p>

    <button type="submit">Click to edit</button>
  </form>
</div>

<ng-template #loggedOut> Please login. </ng-template>
